.Rproj.user
.Rhistory
.vscode/

*.numbers
*.pages

documentation/documentation_meta-analysis_lead-IQloss_cache/
documentation/documentation_meta-analysis_lead-IQloss_word_cache/
results/sensitivity/
manuscript/tables_figures/supplement/*.docx
manuscript/tables_figures/supplement/I2_calculation_files
*_cache/
*_files/

**/_extensions/andrewheiss/